@media only screen and (min-width: 480px) {
    .labels{
        font-size: 1.5rem;
        background: greenyellow;
    }

}

@media only screen and (min-width: 768px) {
    .labels{
        font-size: 1.5rem;
        background: aquamarine;
    }

}

@media only screen and (min-width: 992px) {
    .labels{
        font-size: 2rem;
        background: red;
    }

}

@media only screen and (min-width: 1382px) {
    .labels{
        font-size: 2rem;
        background: aquamarine;
    }
}

#button {
    position: relative;
    font-size: .75rem;
    width: 200px;
    height: 75px;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;
    font-family: 'Press Start 2P', monospace;
    font-weight: bold;
    background-color: lightsalmon;
    border-radius: 16px;

}

#button:active {
    top: 6px;
}


.main-container {
    text-align: center;

    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.main {
    background: lightgreen;
    width: 70%;
    height: 75%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto -50% auto auto;
    transform: translate(-50%, -50%)
}

.boxForInput {
    padding: 2rem;
}

.labels {
    border-radius: 12px;
}

.addSymbol {
    font-size: 2rem;
}

.options {
    background-color: aquamarine;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    border-radius: 12px;

}

.aAsButton {
    text-decoration: none;
    gap: 1rem;
    margin: 5px;
    padding: 5px;
    background-color: olive;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 3rem;

}

body {
    background: red;
}

.main p {
    font-size: 2rem;
}

.answer {
    font-size: 1rem;
    border-radius: 12px;
    gap: 1rem;
    margin: 5px;
    padding: 5px;

}


